.chatbot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #9c3e16;
    overflow: auto;
}
.chatbot-buttons {
    display: flex; /* Make the button inline */
    font-size: 30px; /* Increase font size */
    font-family: 'GravestoneDemo-4BPgx';
    margin-bottom: 30px;
    cursor: pointer; /* Pointer/hand icon */
    transition: background-color 0.3s ease; /* Transition for hover effect */
    background: none;
    border: none;
    color: black;
    justify-content: center; /* Center horizontally */
    align-items: center;
    height: 100px; /* Set a fixed height */
    width: 800px; /* Set a fixed width for testing */
}

.chatbot-buttons:hover {
    color:white;
}

.chatbot-box {
    width: 800px;
    border: 2px solid black; /* Add a border matching the background */
    height: 700px;
    justify-content: center;
    display: flex;
    box-shadow: -1px 6px 15px rgba(0, 0, 0, 0.2);
    background-color: #524C42;
    border-radius: 50px;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align items horizontally */
}

.chatbot-title {
    font-family: 'GravestoneDemo-4BPgx';
    color: white;
    font-size: 40px;
}